---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About Me</title>
	</head>
	<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
		<h1 class="font-bold text-3xl">About Me</h1>
    <h2 class="font-medium text-xl">This is my first Astro App</h2>
    <p class="text-m">This is cool</p>
    <p class="text-m">Tailwind was so easy to integrate!</p>

	</body>
</html>
