---
import Social from "./Social.astro";
---

<footer class="flex flex-row justify-center items-center gap-4 absolute bottom-0 pb-4">
  <Social platform="twitter" username="conhjohn" />
  <Social platform="github" username="cohjo" />
  <p>Made by Conor</p>
</footer>