---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);

const getClass = (path: string) => currentPath === path ? "active" : "";

---
<a class={getClass("")} href="/">Home</a>
<a class={getClass("about")} href="/about">About</a>
<a class={getClass("blog")} href="/blog">Blog</a>
