---
const { platform, username } = Astro.props;
const imagePaths: {[key: string]: string} = {
  github: "https://raw.githubusercontent.com/github/explore/78df643247d429f6cc873026c0622819ad797942/topics/github/github.png",
  twitter: "https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/twitter/twitter.png"
};
---

<a class="h-6 w-6" target="_blank" href={`https://www.${platform}.com/${username}`}>
  <img class="h-6 w-6" src={imagePaths[platform]} alt={platform} />
</a>
